*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    width: 100%;
}

.col{
    width: 100%;
}
.col-30{
    width: 100%;
}
.col-33{
    width: 100%;
}
.col-66{
    width: 100%;
}
.col-70{
    width: 100%;
}
.content-start-end{
    height: 75px;
    background-color: red;
    border: 1px solid black;
}
.content-main{
    height: 300px;
    background-color: purple;
    border: 1px solid black;
    margin: 5px 0px;
}
.wrap{
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}

/* MIN-WIDTH 480PX / MOBILE > TABLET */

@media screen and (min-width: 480px){
    .col-66{
        width: calc(100% / 3 * 2);
    }
    .col-33{
        width: calc(100% / 3);
    }
    .col-30{
        width: 30%;
    }
    .col-70{
        width: 70%;
    }
}

/* MIN-WIDTH 768PX / TABLET > DESKTOP */

@media screen and (min-width: 768px){
    .atto-2 .col{
        width: 50%;
    }
}