*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    width: 100%;
}

.col{
    width: 100%;
}
.col-30{
    width: 100%;
}
.col-33{
    width: 100%;
}
.col-66{
    width: 100%;
}
.col-70{
    width: 100%;
}
.content-start-end{ 
}
.content-main{
    margin: 5px 0px;
}
button{
    border: none;
}
/* common */
.wrap{
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.ai-center{
    align-items: center;
}
.flex{
    display: flex;
}
.jc-between{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}

.bg-blue{
    background-color: rgb(0, 132, 253);
}
.bg-lightblue{
    background-color: rgb(181, 221, 255);
}
.bg-white{
    background-color: white;
}
.bg-purple{
    background-color: rgb(151, 146, 228);
}
.bg-black{
    background-color: rgb(51, 51, 51);
}

.purple{
    color: rgb(151, 146, 228);
}
.white{
    color: white;
}
.orange{
    color: orange;
}
.blue{
    color:  rgb(0, 132, 253);
}

.padding-10{
    padding: 10px;
}
.padding-20{
    padding: 20px;
}
.padding-10-0{
    padding: 10px 0px;
}
.padding-15-0{
    padding: 15px 0px;
}
.padding-5-20{
    padding: 5px 20px;
}
.padding-10-65{
    padding: 10px 65px;
}
.padding-0-25-perc{
    padding: 0% 25%;
}
.padding-0-15{
    padding: 0px 15px;
}
.padding-0-5{
    padding: 0px 5px;
}

.margin-10{
    margin: 10px;
}
.margin-10-30{
    margin: 10px 30px;
}

.width-100{
    width: 100%;
}
.width-40{
    width: 40%;
}

.font-size-13{
    font-size: 13px;
}
.font-size-35{
    font-size: 35px;
}
.font-size-50{
    font-size: 50px;
}
.font-size-55{
    font-size: 55px;
}

.border-radius{
    border-radius: 15px;
}

.line-1-6{
    line-height: 1.6;
}

.radius-15{
    border-radius: 15px;
}
.radius-25{
    border-radius: 25px;
}
.radius-50-perc{
    border-radius: 50%;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.top-right{
    top: 0px;
    right: 60%;
}
/* MIN-WIDTH 480PX / MOBILE > TABLET */

@media screen and (min-width: 480px){
    .col-66{
        width: calc(100% / 3 * 2);
    }
    .col-33{
        width: calc(100% / 3);
    }
    .col-30{
        width: 30%;
    }
    .col-70{
        width: 70%;
    }
    .float-left{
        float: left;
        width: 25%;
    }
    .atto-4 .col-33{
        width: 50%;
    }
}

/* MIN-WIDTH 768PX / TABLET > DESKTOP */

@media screen and (min-width: 768px){
    .atto-2 .col{
        width: 50%;
    }
    .atto-4 .col-33{
        width: calc(100% / 3);
    }
}